{% extends 'base.html' %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="z-depth-1 grey lighten-4 "
     style="display: inline-block; padding: 32px 48px 16px 48px; border: 1px solid #EEE; margin: 56px 0px 0px 0px">
    <h4>ADD TRADE</h4>

    <div class="row">
        <form class="col s12" method="post" action="{{ url_for('add_trade') }}">
            <div class="row">
                <div class="input-field col s4">
                    <input name="client_code" id="client_code" type="text" class="validate">
                    <label for="client_code">Client Code</label>
                </div>
                <div class="input-field col offset-s4 s4">
                    <input name="trade_date" id="trade_date" type="date" class="validate">
                    <!--label for="trade_date">Trade date</label-->
                </div>

            </div>

            <div class="row">
                <div class="input-field col s4">
                    <select name="currency_pair">
                        <option value="0" disabled selected>Choose currency pair</option>
                        <option value="1">GBP/USD</option>
                        <option value="2">GBP/EUR</option>
                        <option value="3">EUR/USD</option>
                    </select>
                    <label>CCY PAIR</label>
                </div>
                <div class="input-field col s4">
                    <input name="base_notional" id="first_name" type="text" class="validate">
                    <label for="first_name">Base Notional</label>
                </div>
                <div class="input-field col s4">
                    <input name="price" id="last_name" type="text" class="validate">
                    <label for="last_name">Price</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <span><b>Base Direct</b></span>
                    </div>

                    <div class="row">
                        <input id="choice_1" class="with-gap" name="base_direct" value="1" type="radio" checked/>
                        <label for="choice_1" STYLE="color: black;">Buy</label>
                    </div>

                    <div class="row">
                        <input id="choice_2" class="with-gap" name="base_direct" value="2" type="radio"/>
                        <label for="choice_2" STYLE="color: black;">Sell</label>
                    </div>
                </div>

                <div class="col s6">
                    <div class="row">
                        <span><b>Trade Type</b></span>
                    </div>
                    <div class="row">
                        <input id="order_1" class="with-gap" name="trade_type" value="1" type="radio" checked/>
                        <label for="order_1" STYLE="color: black;">SPOT</label>
                    </div>

                    <div class="row">
                        <input id="order_2" class="with-gap" name="trade_type" value="2" type="radio"/>
                        <label for="order_2" STYLE="color: black;">TOM</label>
                    </div>
                </div>

            </div>

            <!--<a type="submit" class="btn btn-primary addButton waves-effect waves-light btn" style="margin-top: 20px;">Add Trade</a>-->
            <div class='row'>
                <button type='submit' name='btn_login' class='col offset-s4 s4 btn btn-large waves-effect waves-light btn'>Add Trade</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}