{% extends 'base.html' %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s7">
            {% include 'add_trade.html' %}
        </div>

        <div class="col s5">
            {% include 'net_currency.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}