{% extends 'base.html' %}
{% block content %}

<div class="section"></div>

<div class="z-depth-1 grey lighten-4 row"
     style="display: inline-block; padding: 32px 48px 16px 48px; border: 1px solid #EEE;">

    <form class="col s12" method="post" action="{{ url_for('handle_login') }}">
        <div class='row'>
            <div class='col s12'>
                <img src="../static/images/Deutsche-Bank-Logo.png" height="56" width="60">
                <h4 class="indigo-text darken-4">FX Netting</h4>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <input class='validate' type='text' name='userid' id='email'/>
                <label for='email'>User ID</label>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password'/>
                <label for='password'>Password</label>
            </div>
            <label style='float: right;'>
                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
            </label>
        </div>

        <br/>
        <center>
            <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
            </div>
        </center>
    </form>
</div>
{% endblock %}