<div class="z-depth-1 grey lighten-4"
     style="display: inline-block; padding: 32px 48px 16px 48px; border: 1px solid #EEE;">


    <div class="row">
            <a class="waves-effect waves-light btn" style="margin-top: 20px;">Trade Book</a>
    </div>

    <div class="row">
            <a class="waves-effect waves-light btn" style="margin-top: 20px;">Client Net Position</a>
    </div>
</div>