{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="row ">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">

                <div class="row">
                    <div class="row">
                        <div class="col s12">
                            <h4> Trade Book</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <table>
                                <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Net Position</th>
                                    <th>Direction</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for key, value in currency_data.items() %}
                                <tr>
                                    <td>{{ key }}</td>
                                    {% for val in value %}
                                    <td>{{ val }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <form class="col s8" method="post" action="{{ url_for('filter_book') }}">
                            <div class="input-field col offset-s7 s3">
                                <select name="cur_pair">
                                    <option value="" disabled selected>Choose currency pair</option>
                                    <option value="1">GBP/USD</option>
                                    <option value="2">GBP/EUR</option>
                                    <option value="3">EUR/USD</option>
                                </select>
                            </div>
                            <div class="input-field col s0">
                                <input name="client_name" type="hidden" value="" placeholder="Client Name"/>
                            </div>
                            <button type="submit" name="ftr_btn" class="btn col s1 waves-effect waves-light btn"
                                    style="margin-top: 20px;">Filter
                            </button>
                        </form>
                    </div>
                </div>

                <table>
                    <thead>
                    <tr>
                        <td>Trade Id</td>
                        <td>Client Code</td>
                        <td>Client Name</td>
                        <td>CCY Pair</td>
                        <td>Base Notional</td>
                        <td>Base Direction</td>
                        <td>Price</td>
                        <td>Trade Type</td>
                        <td>Quote CCY Quantity</td>
                        <td>Trade Date</td>
                        <td>Value Date</td>
                    </tr>
                    </thead>

                    {% for t in trades %}
                    <tr>
                        <td>{{ t['trade_id'] }}</td>
                        <td>{{ t['client_code'] }}</td>
                        <td>{{ t['client_name'] }}</td>
                        <td>{{ t['ccy_pair'] }}</td>
                        <td>{{ t['base_notional'] }}</td>
                        <td>{{ t['base_dir'] }}</td>
                        <td>{{ t['price'] }}</td>
                        <td>{{ t['trade_type'] }}</td>
                        <td>{{ t['quote_ccy_qty'] }}</td>
                        <td>{{ t['trade_date'] }}</td>
                        <td>{{ t['value_date'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });

</script>
{% endblock %}